import(dplyr)
import(purrr)
import(tidyr)
importFrom("stats", "quantile")
importFrom("stats", "model.matrix")
importFrom("stats", "na.omit")
importFrom("stats", "sd")
export(bayesHRT)
export(bayeswise)
export(bootHRT)
export(cellwise)
export(class_check)
export(dif)
export(fuzzyHRT)
export(gif)
export(pif)
export(setCores)
useDynLib(HRTnomaly, .registration = TRUE, .fixes = "C_")
S3method(print, checkwise)
